.App {
  text-align: center;
  background: linear-gradient(to left, #71ff34, #ff56, #027940);
}

.App input {
  background-color: #71ff34;
  color: #020202;
  border: 1px solid white;
  padding: 0.2em;
  margin: 0.5em;
}

.App .addEventButton {
  background-color:#027940;
  color: #ffffff;
  border: none;
  padding: 0.5em;

}

.App button {
  color: #020202;
}