.App {
  text-align: center;
  /* background: linear-gradient(to left, #ff34bf, #f955ff66, #790263); */
}

.App input {
  background-color: #62b7f866;
  color: #020202;
  border: 1px solid white;
  padding: 0.2em;
  margin: 0.5em;
}

.App .addEventButton {
  background-color:#024079;
  color: #ffffff;
  border: none;
  padding: 0.5em;

}

.App button {
  color: #020202;
}